// .content{
.mainContent{ //2columna cards
    width: 60%;
//     border: solid rgb(184, 29, 226) 10px;
    display: flex;
    flex-direction: column;

// .mainContent{ //2columna cards
    // min-width: 500px;
    // border: solid rgb(184, 29, 226) 10px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    .row{
        // border: solid rgb(58, 24, 124) 1px;
        display: flex;
        flex-direction: row;
        // background-color: rgb(183, 149, 180);
        width: 100%;
    }

    .menuCard{
        display: flex;
        flex-direction: row;
        width: 50%;
        width: auto;
        background-color:#F5F5F5;
        height: 50px;
        align-items: center;

        .cintilla{
            
            margin-right: 15px;
            font-size: 20px;
            // font-weight: 100;
            text-decoration: none;
            padding: 10px;
            color: black;

        }

        .mainText{
            font-weight: 700;

        }
        
        .cintilla:hover{
            background: #ffffff;
            cursor: pointer;
            color: rgb(65, 28, 166);
            height: fit-content;
            width: fit-content;
            border: solid rgba(210, 223, 215, 0.541) 1px;
            border-radius: 5px;
           
        }

    }
    .rowPosts{
        display: block;
        height: auto;
        border-radius: 8px;
        // background-color: white;
        font-size: 16px;
    .dropDownbtn{
        justify-content: flex-end;
        border-radius: 10%;
        border: none;
        cursor: pointer;
    }
    .responsiveimg{
        width: 80%;
        text-align: center;
    }
    .post a:visited{
    color: blue;
    }

   }
}

    .mainCard{ //mi card
        background-color: rgb(255, 254, 254);
        margin-top: 10px;
        border: #dbdbdb 1px solid;
        border-top-left-radius: 13px ;
        border-top-right-radius: 13px ;

        .imgCardPrin{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;

        }
        .fotoPerfil{
            border-radius: 15%;
            margin: 10px;
            margin-top: 10px;
            width: 30px;
            height: 30px;
        }

        .contCard{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            background-color: rgb(255, 255, 255);
        }

        .fotoPerfilEncima{

            border-radius: 100%;
            border: 1px solid rgb(255, 255, 255);
            width: 20px;
            height: 20px;
            display: flex;
            background-color: aqua;
            // justify-content: flex-start;
            position: absolute;
            margin-left: 25px;
            margin-top: 25px;

        }
        .col{
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            // border: solid RED 5PX;

        }

        .textCol{
            width: 100%;
        }

    }


