.sidebar2{
    // border: solid red 1px;
    // Contenedor Principal
    width: 350px;
    height: auto;
    .SectionSD{
        border: solid rgb(0, 255, 106) 1px;
        margin: 10px;
        padding: 10px;
    }
    .containerResourcesSD{
        border: solid rgb(20, 16, 6) 1px;
        // display: flex;
       
    }
    // links de tercera seccion - recursos
    .resourcesSD{
        // border: solid rgb(218, 15, 181) 1px;
        display: block;
        width: 90%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        justify-items: center;
        justify-content: center;
    }

    .resourcesSD:hover{
        background-color: rgb(120, 38, 38);
    }
    
    .titleResourcesSD{
        width: 90%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        justify-items: center;
        justify-content: center;
    }
    
    //lineaa con after ??? momentaneo un hr en codigo
    
    // .subContResourcesSD::after{
    //     content: "hola";
    //     border-bottom: 50px solid lightseagreen;
    //     // width: 100%;
    // }
    // .subContResourcesSD::after {
    //     content: 'h';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     width: 100%;
    //     height: 1px;
    //     background: var(--card-color-tertiary);
    //     opacity: 0.25;
    // }

    .row{
        display: flex;
        flex-direction: row;
    }

    .subContResourcesSD{
        border: solid rgb(218, 15, 181) 1px;
        display: flex;
        flex-direction: column;
    }
}
