$highlight: #bfc3ee;
$colorFontAccent:#6e77d9;
$buttonAccent: #2f3ab2;
$containerBorder:rgb(227, 227, 227);

    .sidebar1{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        padding: 0;
        margin: 10px;
        width: 350px;
        .createAccount{
            height: 150px;
            border: 1px solid $containerBorder;
            border-radius: 8px;
            background-color: white;
            width: 300px;
            align-content: center;
            font-size: 16px;
            .buttonsSidebar{
                padding: 10px;
                border-radius: 10%;
                height: 30px;
                border: $buttonAccent;
                align-self: center;
            }
        }
        .navigationList{
            height: 370px;
            font-size: 16px;
        }

    button{
        text-align: center;
        font-size: 17px;
    }
    button:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .createButton{
        width: 100%;
        padding: 4px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid $buttonAccent;
        color: $colorFontAccent;
    }
    .createButton:hover{
        background-color: $buttonAccent;
        color:white;
        }    
    .noBorderB{
        width: 100%;
        border: transparent;
        background: none;
        padding: 4px;
        border-radius: 4px;
    }
    .noBorderB:hover{
        background-color: $highlight;
        color: $colorFontAccent;
        }
    .navigationList a:link{
        text-decoration: none;
        color: black;
    }
    .navigationList a:hover{
        background-color: $highlight;
        display: block;
        color: $colorFontAccent;
        text-decoration: underline;
    }
    
        ul{
            list-style: none;
        }
        }
    .popularTags{
        overflow-y: scroll;
        scroll-behavior: auto;
        scroll-margin: 0 10px 30px 0;
        height: 250px;
        font-size: 16px;
        }
    .tags{
        font-size: 20px;
    }
    .tags a:hover{
        background-color: $highlight;
        display: block;
        color: $colorFontAccent;
        text-decoration: underline;
    }
    .tags a:link{
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
   
    .socialMediaButtons{
        display: flex;
        }
    .socialMediaButtons a:hover{
        background-color: $highlight;
    }
    .community{
        height: 400px;
        border: 1px solid $containerBorder;
        border-radius: 8px;
        background-color: white;
        width: 300px;
        margin: 2px;
        padding: 10px;
        font-size: 16px;
        .devCommunityimg{
        width: 100%;
    }
        .survey:link{
        text-decoration: underline;
        color: blue;
      }
      footer{
        p{
            font-size: 14px;
        }
      }
    }